<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML API</title>
</head>

<body>
<center>
<div clas = "login">
    <h1>Boston House Price Prediction</h1>

    <!-- Main Input for Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
        <label>CRIM </label> <input type="text" name = "CRIM" required = "required" /><br><br>
        <label>ZN </label> <input type="text" name = "ZN" required = "required" /><br><br>
        <label>INDUS </label> <input type="text" name = "INDUS" required = "required" /><br><br>
        <label>CHAS </label><input type="text" name = "CHAS" required = "required" /><br><br>
        <label>NOX </label><input type="text" name = "NOX" required = "required" /><br><br>
        <label>RM </label><input type="text" name = "RM" required = "required" /><br><br>
        <label>AGE </label><input type="text" name = "Age" required = "required" /><br><br>
        <label>DIS </label><input type="text" name = "DIS" required = "required" /><br><br>
        <label>RAD </label><input type="text" name = "RAD" required = "required" /><br><br>
        <label>TAX </label><input type="text" name = "TAX" required = "required" /><br><br>
        <label>PTRATIO </label><input type="text" name = "PTRATIO" required = "required" /><br><br>
        <label>B </label><input type="text" name = "B"  required = "required" /><br><br>
        <label>LSTAT </label><input type="text" name = "LSTAT" required = "required" /><br><br>
        <button type = "submit" class = "btn btn-primary btn-block btn-large">Predict</button>
    </form>
    <br>
    <br>
</div>
{{prediction_text}}
</center>
</body>
</html>